{
  "plugins": [
    "transform-react-jsx",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "test": "./test",
          "underscore": "lodash"
        }
      }
    ],
    "dynamic-import-node",
    [
      "import-inspector",
      {
        "serverSideRequirePath": true,
        "webpackRequireWeakId": true
      }
    ],
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}